body {
    font-family: Arial, sans-serif;
}

pre {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.githubURL {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: transform 0.2s ease-in-out;
}

.githubURL:hover {
    transform: scale(1.1);
}